body {
  margin: 0;
  background-color: rgb(182, 171, 158);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: rgb(156, 60, 246);
  font-size: 4rem;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.2;
}

a:visited {
  color: rgb(253, 236, 160);
}

a:hover {
  color: rgb(226, 214, 161);
  text-decoration: underline;
}

a:active {
  color: white;
  text-decoration: underline;
}

#grandparent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

#parent {
  margin: 5rem 5rem;
}

.flex {
  display: flex;
}

.flexChild {
  flex: 1 1;
}

@media (max-device-width: 768px) {
  #grandparent {
    align-items: end;
    justify-content: end;
  }
  #parent {
    text-align: right;
    margin: 140px 100px;
  }
  a {
    line-height: 1.4;
  }
  .flex {
    flex-direction: column;
  }
}

.title {
  font-size: 4rem;
}

.pokedut {
 width: 100%;
}
