html {
  scroll-snap-type: y mandatory;
  text-align: end;
  background-color: rgb(99, 28, 165);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.header {
  font-size: xx-large;
  font-weight: 900;
  background-color: blueviolet;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
}

section {
  block-size: 100vh;
  scroll-snap-align: center;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  padding: 30px;
  padding-block-end: 50px;
}

section > div > * {
  margin: 5px;
  color: white;
  font-weight: 700;
  display: block;
}

a:visited {
  color: rgb(194, 163, 153);
}

.title {
  text-shadow: 1px 1px black;
}
section > div {
  max-height: 90vh;
  font-size: clamp(0.5rem,1rem,2rem);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  block-size: 10vh;
  z-index: 2;
}

.image {
  width: 50%;
}

/* .pokedut {
  background-image: url(../images/pokedut.jpg);
  filter: blur(9px); 
  background-repeat: no-repeat;
  background-size: cover;
} */

.pokedut {
  position: relative;
}
.pokedut::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url(../images/pokedut.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.5);
}
.pokedut-inside {
  position: relative;
}