body{
    margin: 0;
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif ;
  }

.pageTitle{
    font-size: 3rem;
    margin: 20px auto;
    width: fit-content;
}

.form{
    margin: 20px auto;
    width: fit-content;
}

.booksContainer{
    /* border: 2px solid black; */
    height: 80vh;
    width: 90vw;
    overflow: scroll;
    margin: auto;

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: baseline; */

    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,1fr); */
    grid-template-columns: auto;
}

.addBook{
    color: cadetblue;
    font-weight: 800;
    margin-left: 10px;
}

.div-card{
    border: 1px solid rgba(0, 0, 0, 0.316);
    padding: 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}