body{
    margin: 0;
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
  }

.pageTitle{
    font-size: 3rem;
    margin: 20px auto;
    width: fit-content;
}

.form{
    margin: 20px auto;
    width: fit-content;
}

.booksContainer{
    /* border: 2px solid black; */
    height: 80vh;
    width: 90vw;
    overflow: scroll;
    margin: auto;
}

.addBook{
    color: cadetblue;
    font-weight: 800;
    margin-left: 10px;
}

.div-card{
    align-items: center ;
    border: 1px solid rgba(0, 0, 0, 0.316);
    padding: 10px;
    width: 95%;
    display: grid;
    grid-template-columns: 2fr 1fr 0.3fr 1fr;
    word-break: break-all;
    column-gap: 5px;
    margin: 10px;
}

.bookTitles{
    font-weight: 600;
}

input{
    height: 30px;
}
input[type=checkbox] {
    height: auto;
    margin: 8px;
    transform: scale(1.5);
}