body{
    margin: 0;
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
  }

.pageTitle{
    font-size: 3rem;
    margin: 20px auto;
    width: fit-content;
}

.form{
    margin: 20px auto;
    width: fit-content;
}

.booksContainer{
    /* border: 2px solid black; */
    height: 80vh;
    width: 90vw;
    overflow: scroll;
    margin: auto;
}

.addBook{
    color: cadetblue;
    font-weight: 800;
    margin-left: 10px;
}

.div-card{
    align-items: center ;
    border: 1px solid rgba(0, 0, 0, 0.316);
    border-top: none;
    padding: 10px;
    width: 95%;
    display: grid;
    grid-template-columns: 2fr 1fr 0.4fr 0.3fr;
    word-break: break-all;
    column-gap: 5px;
    margin: 0px 10px;
    min-height: 50px;
    justify-items: baseline;
}

input{
    height: 30px;
}

 .div-card > input[type=checkbox] {
    height: auto;
    margin: 8px;
    transform: scale(3);
}

.newHaveRead {
    height: auto;
    margin: 8px;
    transform: scale(1.5);
}

.deleteButtons{
    color: white;
    background-color: #e84444;
    border: none;
    place-self: stretch;
}