body{
    margin: 0;
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
  }

.content {
  display:flex; 
  flex-direction:column;
  height:100vh;
}

.contentNav {
  display:flex;
  align-items: center;
}

.contentBody {
  align-items: center;
  display:flex; 
  flex-direction:column;
  margin: 100px
}

/* adapted from https://www.w3schools.com/*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(248, 194, 128);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.navImg{
    height: 80px;
    width: 80px;
    margin: 20px;
}

.navImg:hover{
    cursor: crosshair;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(133deg) brightness(103%) contrast(100%);
}

li {
  display: flex;
  align-items: center;
}

li a {
  color: rgb(0, 0, 0);
  font-size: xx-large;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  cursor: crosshair;
  color: #FFF;
}

.footer {
  margin-top: auto;
  min-height: 100px;
  background-color: rgb(216, 185, 136);
  color: rgb(100, 73, 73);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}